# Overview
This notebook is associated with Trello card https://trello.com/c/y4Nv52JN, specifically the Spain data.

## Discovery
Spain data was initially found on https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_Spain. Following links from this page, led to the following:
- https://www.rtve.es/noticias/20200329/mapa-del-coronavirus-espana/2004681.shtml
- https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov-China/situacionActual.htm
- https://covid19.isciii.es/

## Read Data

In [235]:
import pandas as pd
from datetime import datetime

In [236]:
url = "https://covid19.isciii.es/resources/serie_historica_acumulados.csv"
df = pd.read_csv(url, encoding="latin_1")
df.shape

(761, 7)

In [237]:
df[df['CCAA Codigo ISO']=='AN'].head(10)

,CCAA Codigo ISO,Fecha,Casos,Hospitalizados,UCI,Fallecidos,Recuperados
0,AN,20/02/2020,NaN,NaN,NaN,NaN,NaN
19,AN,21/02/2020,NaN,NaN,NaN,NaN,NaN
38,AN,22/02/2020,NaN,NaN,NaN,NaN,NaN
57,AN,23/02/2020,NaN,NaN,NaN,NaN,NaN
76,AN,24/02/2020,NaN,NaN,NaN,NaN,NaN
95,AN,25/02/2020,NaN,NaN,NaN,NaN,NaN
114,AN,26/02/2020,1.0,NaN,NaN,NaN,NaN
133,AN,27/02/2020,6.0,NaN,NaN,NaN,NaN
152,AN,28/02/2020,8.0,NaN,NaN,NaN,NaN
171,AN,29/02/2020,12.0,NaN,NaN,NaN,NaN

## Model Data

### Column Headers

In [238]:
df.rename(columns={'CCAA Codigo ISO': 'ccaa-iso-code', 'Fecha': 'date', 'Casos ': 'cases', 'Hospitalizados': 'hospitalized', 'UCI': 'uci', 'Fallecidos': 'deceased', 'Recuperados': 'recovered'}, inplace=True)
print(df.head())

  ccaa-iso-code        date  cases  hospitalized  uci  deceased  recovered
0            AN  20/02/2020    NaN           NaN  NaN       NaN        NaN
1            AR  20/02/2020    NaN           NaN  NaN       NaN        NaN
2            AS  20/02/2020    NaN           NaN  NaN       NaN        NaN
3            IB  20/02/2020    1.0           NaN  NaN       NaN        NaN
4            CN  20/02/2020    1.0           NaN  NaN       NaN        NaN

### Replace NaN with 0

In [239]:
df['cases'].fillna(value=0, inplace=True)
df['hospitalized'].fillna(value=0, inplace=True)
df['uci'].fillna(value=0, inplace=True)
df['deceased'].fillna(value=0, inplace=True)
df['recovered'].fillna(value=0, inplace=True)

df.head()

  ccaa-iso-code        date  cases  hospitalized  uci  deceased  recovered
0            AN  20/02/2020    0.0           0.0  0.0       0.0        0.0
1            AR  20/02/2020    0.0           0.0  0.0       0.0        0.0
2            AS  20/02/2020    0.0           0.0  0.0       0.0        0.0
3            IB  20/02/2020    1.0           0.0  0.0       0.0        0.0
4            CN  20/02/2020    1.0           0.0  0.0       0.0        0.0

### Update date 
Transform to compliance with https://coronawhy.github.io/task-geo/data_model.html

In [240]:
df['date'] = pd.to_datetime(df['date'])
df.head()

  ccaa-iso-code       date  cases  hospitalized  uci  deceased  recovered
0            AN 2020-02-20    0.0           0.0  0.0       0.0        0.0
1            AR 2020-02-20    0.0           0.0  0.0       0.0        0.0
2            AS 2020-02-20    0.0           0.0  0.0       0.0        0.0
3            IB 2020-02-20    1.0           0.0  0.0       0.0        0.0
4            CN 2020-02-20    1.0           0.0  0.0       0.0        0.0

### Undo cumulative sums

In [241]:
# show current values for AN. See how they are cumulative values
print(df[df['ccaa-iso-code']=='AN'].head(30))

# create a copy of the dataframe, without date
unrolled_df = df.copy()
unrolled_df.drop(['date'], axis=1, inplace=True)

# unroll (i.e. undo the cumulative values)
unrolled_df = unrolled_df.groupby('ccaa-iso-code').diff().fillna(unrolled_df)

# add back ccaa-iso-code, date columns
unrolled_df = pd.concat([df[['ccaa-iso-code', 'date']], unrolled_df], axis=1)

# show the unrolled_df. See how values are no longer cumulative
print(unrolled_df[unrolled_df['ccaa-iso-code']=='AN'].head(30))

    ccaa-iso-code       date   cases  hospitalized   uci  deceased  recovered
0              AN 2020-02-20     0.0           0.0   0.0       0.0        0.0
19             AN 2020-02-21     0.0           0.0   0.0       0.0        0.0
38             AN 2020-02-22     0.0           0.0   0.0       0.0        0.0
57             AN 2020-02-23     0.0           0.0   0.0       0.0        0.0
76             AN 2020-02-24     0.0           0.0   0.0       0.0        0.0
95             AN 2020-02-25     0.0           0.0   0.0       0.0        0.0
114            AN 2020-02-26     1.0           0.0   0.0       0.0        0.0
133            AN 2020-02-27     6.0           0.0   0.0       0.0        0.0
152            AN 2020-02-28     8.0           0.0   0.0       0.0        0.0
171            AN 2020-02-29    12.0           0.0   0.0       0.0        0.0
190            AN 2020-01-03    12.0           0.0   0.0       0.0        0.0
209            AN 2020-02-03    12.0           0.0   0.0       0.0        0.0
228            AN 2020-03-03    12.0           0.0   0.0       0.0        0.0
247            AN 2020-04-03    12.0           0.0   0.0       0.0        0.0
266            AN 2020-05-03    21.0           0.0   0.0       0.0        0.0
285            AN 2020-06-03    27.0           0.0   0.0       0.0        0.0
304            AN 2020-07-03    34.0           0.0   0.0       0.0        0.0
323            AN 2020-08-03    54.0           0.0   1.0       0.0       11.0
342            AN 2020-09-03    71.0           0.0   1.0       0.0       11.0
361            AN 2020-10-03    90.0          32.0   3.0       0.0       11.0
380            AN 2020-11-03   115.0          50.0   4.0       0.0       11.0
399            AN 2020-12-03   219.0          92.0   8.0       0.0        0.0
418            AN 2020-03-13   269.0          92.0   8.0       2.0        0.0
437            AN 2020-03-14   437.0          92.0   8.0       6.0        0.0
456            AN 2020-03-15   554.0         197.0  11.0       7.0        0.0
475            AN 2020-03-16   683.0         229.0  13.0      11.0        0.0
494            AN 2020-03-17   859.0         319.0  21.0      19.0       38.0
513            AN 2020-03-18  1008.0         384.0  25.0      23.0       33.0
532            AN 2020-03-19  1287.0         501.0  38.0      30.0       36.0
551            AN 2020-03-20  1515.0         605.0  53.0      40.0       36.0
    ccaa-iso-code       date  cases  hospitalized   uci  deceased  recovered
0              AN 2020-02-20    0.0           0.0   0.0       0.0        0.0
19             AN 2020-02-21    0.0           0.0   0.0       0.0        0.0
38             AN 2020-02-22    0.0           0.0   0.0       0.0        0.0
57             AN 2020-02-23    0.0           0.0   0.0       0.0        0.0
76             AN 2020-02-24    0.0           0.0   0.0       0.0        0.0
95             AN 2020-02-25    0.0           0.0   0.0       0.0        0.0
114            AN 2020-02-26    1.0           0.0   0.0       0.0        0.0
133            AN 2020-02-27    5.0           0.0   0.0       0.0        0.0
152            AN 2020-02-28    2.0           0.0   0.0       0.0        0.0
171            AN 2020-02-29    4.0           0.0   0.0       0.0        0.0
190            AN 2020-01-03    0.0           0.0   0.0       0.0        0.0
209            AN 2020-02-03    0.0           0.0   0.0       0.0        0.0
228            AN 2020-03-03    0.0           0.0   0.0       0.0        0.0
247            AN 2020-04-03    0.0           0.0   0.0       0.0        0.0
266            AN 2020-05-03    9.0           0.0   0.0       0.0        0.0
285            AN 2020-06-03    6.0           0.0   0.0       0.0        0.0
304            AN 2020-07-03    7.0           0.0   0.0       0.0        0.0
323            AN 2020-08-03   20.0           0.0   1.0       0.0       11.0
342            AN 2020-09-03   17.0           0.0   0.0       0.0        0.0
361            AN 2020-10-03   19.0          32.0   2.0       0.0        0.0
380            AN 2020-11-03   25.0          18.0   1.0       0.0        0.0
399            AN 2020-12-03  104.0          42.0   4.0       0.0      -11.0
418            AN 2020-03-13   50.0           0.0   0.0       2.0        0.0
437            AN 2020-03-14  168.0           0.0   0.0       4.0        0.0
456            AN 2020-03-15  117.0         105.0   3.0       1.0        0.0
475            AN 2020-03-16  129.0          32.0   2.0       4.0        0.0
494            AN 2020-03-17  176.0          90.0   8.0       8.0       38.0
513            AN 2020-03-18  149.0          65.0   4.0       4.0       -5.0
532            AN 2020-03-19  279.0         117.0  13.0       7.0        3.0
551            AN 2020-03-20  228.0         104.0  15.0      10.0        0.0

### Insert iso name

In [242]:
unrolled_df.insert(0, 'iso-3166-1-alpha-3', 'Spain')
unrolled_df.head()

,iso-3166-1-alpha-3,ccaa-iso-code,date,cases,hospitalized,uci,deceased,recovered
0,Spain,AN,2020-02-20,0.0,0.0,0.0,0.0,0.0
1,Spain,AR,2020-02-20,0.0,0.0,0.0,0.0,0.0
2,Spain,AS,2020-02-20,0.0,0.0,0.0,0.0,0.0
3,Spain,IB,2020-02-20,1.0,0.0,0.0,0.0,0.0
4,Spain,CN,2020-02-20,1.0,0.0,0.0,0.0,0.0

### <font color='red'>TODO</font>
1. Find correct latitude and longitude for regions
1. Understand what uci is